
.Promocion1{
    display: block;
}
a:not(.button), a:not(.button):hover, a:not(.button):focus, a:not(.button):visited, i, em{
    color: inherit;
}
.Titulo1{
    margin-left: 100px;
}
.imagen1{
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}




