body {
  background-color: #e9cb8f;
}
.contenedor {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  margin: 0%;
  padding: 0%;
  display: grid;
  grid-gap: 15px;
  justify-items: center;
  padding-top: 70px;
}

header {
  background: #264d2c;
  width: 100%;
  clear: both;
  content: "";
  display: flex;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
}
/*aca va todo el css de la barra  */
.fila-prin {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
  position: relative;
}

.img-logo {
  width: 180px;
  height: 130px;
  float: left;
  padding: 6px;
  margin-left: 0;
  border-radius: 60px;
}

.fila-prin h1 {
  margin: 0;
  color: #8b5e3c;
  font-size: 3rem;
  flex: 1;
  text-align: center;
  font-family: "Gurajada", serif;
  position: absolute;
  top: 0;
  left: 43%;
}
nav {
  float: right;
  color: beige;
  align-items: center;
  flex-grow: 2;
  text-align: center;
  margin-left: 100px;
  position: absolute;
  top: 60px;
  left: 23%;
}

nav ul li {
  list-style: none;
  float: left;
  position: relative;
  margin-left: 30px;
  padding: 8px 0;
  display: flex;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
/* aca arranca el css de las imagenes del index*/
.mates-disp {
  display: grid;
  width: 100%;
  gap: 3em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.subtitulo2 {
  color: #264d2c;
  text-align: center;
}
.mate2 {
  width: 300px;
  height: 300px;
  margin: 5%;
}
.img_index {
  width: 300px;
  height: 300px;
  margin: 30px;
  padding-right: 5px;
}
.precios {
  color: #264d2c;
  text-align: center;
}
