body {
  background-color: #3e6b3c;
}
header {
  background: #4b2e1e;
  width: 100%;
  clear: both;
  content: "";
  display: flex;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
}

.fila-prin {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px 20px;
  gap: 80px;
}

.img-logo {
  width: 150px;
  height: auto;
}
.fila-prin h1 {
  margin: 0 20px;
  color: white;
  font-size: 3rem;
  flex: 1;
  text-align: center;
  font-family: "Gurajada", serif;
}
nav {
  float: right;
  color: beige;
}
nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 20px;
}

nav ul li {
  list-style: none;
  margin-left: 20px;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.matesdiponibles {
  display: grid;
  width: 90%;
  gap: 3em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.Promocion1 {
  display: block;
}
a:not(.button),
a:not(.button):hover,
a:not(.button):focus,
a:not(.button):visited,
i,
em {
  color: inherit;
}

.imagen1 {
  max-width: 50%;
  height: auto;
  box-sizing: border-box;
}
.mate1 {
  height: 300px;
  width: 300px;
  background-color: rgb(150, 199, 199);
}

.img-ropa {
  height: 300px;
  width: 300px;
}

.precios {
  color: aliceblue;
  text-align: center;
}
